.ninja_deps
.ninja_log
*.ninja
Binaries/*
Vendor/Sources/*
.idea
.vscode
.vs
*.sln
*.slnx

*.vcxproj

*.user

*.spv

Examples/logs/

*.filters

Reviews/

Docs/Generated/

Docs/Notes/

Examples/imgui.ini
